/* cards.css */

/* Card Container */
.property-card {
    background-color: #f7f7f7;
    border-radius: 10px;
    padding: 15px;
    margin-bottom: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    font-size: 1rem;
    color: #333;
  }
  
  /* Card Text */
  .property-card p {
    margin: 5px 0;
    line-height: 1.5;
  }
  
  .property-card strong {
    font-weight: bold;
  }
  
  /* Card Hover Effect */
  .property-card:hover {
    background-color: #e7e7e7;
    transform: scale(1.02);
    transition: background-color 0.3s, transform 0.3s;
  }

  p{
    color: black;
  }
  