/* styles.css */

/* Container principal */
.users-manager {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    margin-top: 90px;
    height: calc(100vh - 60px); /* Adjust to fit the screen height */
    padding: 20px;
    box-sizing: border-box;
    gap: 20px;
  }
  
  /* Formulário fixado à esquerda */
  .users-form {
    padding: 20px;
    background-color: #f7f7f7;
    border-radius: 10px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
    overflow-y: auto;
    width: 500px;
  }
  
  .users-form h2 {
    margin-bottom: 20px;
    font-size: 1.5rem;
    text-align: center;
    color: #333;
  }
  
  .users-form label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
    color: #333;
  }
  
  .users-form input,
  .users-form select {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 1rem;
    box-sizing: border-box;
  }
  
  .users-form button {
    width: 100%;
    padding: 10px;
    /* background-color: #008000; */
    color: #fff;
    border: none;
    border-radius: 5px;
    font-size: 1.1rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .users-form button:hover {
    /* background-color: #005f00; */
  }
  
  /* Lista de propriedades no lado direito */
  .users-list {
    flex: 3; /* Reduced to make room for the wider form */
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
    overflow-y: auto;
    max-height: 87%; /* Ensures it fits within the viewport */
    width: 500px;
  }
  
  .users-list p {
    font-size: 1.2rem;
    text-align: center;
    color: #000;
  }
  
  /* Rolagem personalizada */
  .users-form::-webkit-scrollbar,
  .users-list::-webkit-scrollbar {
    width: 8px;
  }
  
  .users-form::-webkit-scrollbar-thumb,
  .users-list::-webkit-scrollbar-thumb {
    background-color: #888;
    border-radius: 4px;
  }
  
  .users-form::-webkit-scrollbar-thumb:hover,
  .users-list::-webkit-scrollbar-thumb:hover {
    background-color: #555;
  }
  
  /* Responsividade */
  @media (max-width: 768px) {
    .users-manager {
      flex-direction: column;
      height: auto; /* Adjust height for smaller screens */
    }
  
    .users-form,
    .users-list {
      max-width: 100%;
      width: 100%;
    }
  }
  
  .users-item {
    display: flex;
    align-items: center;
    gap: 10px;
  }
  
  .button-container {
    display: flex;
    gap: 10px; /* Space between buttons */
    align-items: center;
  }

  .delete-btn {
    background-color: red; /* Red background */
    color: white; /* White text */
    border: none;
    padding: 10px 15px;
    cursor: pointer;
    border-radius: 5px;
    font-size: 16px;
    font-weight: bold;
  }
  
  .delete-btn:hover {
    background-color: darkred; /* Darker red on hover */
  }
  
  